<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 20px !important;position: sticky !important;">
  <a class="navbar-brand" style="font-size: 25px" href="/"><i style="padding-right: 5px;color: rgb(238, 216, 22);" class="fa fa-blog"></i><strong>Personal Blog</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      <li class="nav-item active" style="padding: 0 2px 0 10px;">
        <a class="nav-link" href="/">All Blogs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="padding: 0 2px 0 10px;">
        <a class="nav-link" href="/create">Create New Blog</a>
      </li>
      <li class="nav-item" style="padding: 0 2px 0 10px;">
        <a class="nav-link btn btn-danger text-white" href="/users/logout"><i class="fa fa-sign-out" style="padding: 0 4px 0 0 ;"></i> Logout</a>
      </li>    
    </ul>
  </div>
</nav>
